

.box-list{
  display:flex;
  margin:0;
  padding:0;
  list-style:none;
  justify-content:space-between;
  flex-flow:row wrap;
}
.box-list li{
  flex:0 0 19%;
  border:1px solid #ccc;
  margin-bottom:10px;
}
img{
  width:100%
}
