
/*bodyタグ全体に適用*/
body{
margin:0px auto;
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
color:#333333;
}
a{
  text-decoration:none;
  }

.container{
  width:1170;
  padding:0 15px;
  margin:0 auto;
  }
.top-wrapper{
  padding:180px 0 100px 0;
  background-image:url("https://tkby.github.io/Learning-by-Viscuit.github.io/top_img.jpg");
  background-size:cover;
  color:white;
  text-align:center;
 }
.top-wrapper h1{
  opacity:0.7;
  font-size:45px;
  letter-spacong:5px;
  }
.top-wrapper p{
  opacity:0.7;
  }

li{
  list-style:none;
  }

/*headerのみに適用*/
.header{
  height:50px;
  width:100%;
  background-color:#2f5167;
  color:#fff;
  position:fixed;
  z-index:10;
}

/*LbVのロゴのみに適用*/
.header-logo h1{
  float:left;
  font-size:36px;
  padding:40px 40px;
  }

.header-list{
   float:left;
   }

.header-list li{
   float:left;
   padding:33px 20px;
 }

.header-right{
  float:right;
  background-color:rgba(255,255,255,0.3);
  }

.header-right a{
  line-height:65px;
  padding:0 25px;
  color:white;
  display:block;
  }
.lesson-wrapper{
  height:600px;
  padding-bottom:80px;
  background-color:#f7f7f7;
  text-align:center;
  }
 .heading{
   padding-top:60px;
   padding-bottom:30px;
   color:#5f5d60;
   }
.heading h2{
  font-weight:normal;
  }

.lesson{
  float:left;
  width:10%;
  }

.lesson-icon{
  position:relative;
  }
.lesson-icon p{
  position:absolute;
  top:90px;
  width:100%;
  color:white;
  }
 .txt-contents{
   width:80%;
   display:inline-block;
   margin-top:20px;
   font-size:12px;
   color:#b3aeb5;
   }
 .heading h3{
   font-weight:normal;
   }
  
 .message-wrapper{
   border-bottom:1px solid #eee;
   padding-bottom:80px;
   text-align:center;
   }
  .message{
    padding:15px 40px;
    background-color:#5dca88;
    box-shadow:0 7px #1a7940;
    }
  
  footer p{
    color:#b3aeb5;
    font-size:12px
      }
  footer{
    padding-top:30px;
    }


  
  .footer{
    background-color:#2f5167;
    color:#fff;
    height:120px;
    padding:40px;
    }
  
  .footer-logo{
    float:left;
    font-size:32px;
    }
  
  .footer-list{
    float:right;
    }
  
  .footer-list li{
    padding-bottom:20px;
    }
  
